{{ id_domain }} {
{% if tls_mode == "selfsigned" or tls_mode == "existing" %}
    tls /etc/caddy/server.crt /etc/caddy/server.key
{% endif %}
    reverse_proxy pocket-id:1411
}

{{ cloud_domain }} {
{% if tls_mode == "selfsigned" or tls_mode == "existing" %}
    tls /etc/caddy/server.crt /etc/caddy/server.key
{% endif %}
    reverse_proxy nextcloud:80
}
